{% extends 'recipe/base.html' %}

{% block content %}
<div class="container-fluid">
<div class="row margin-top-50">
    <div class="col-md-3"></div>
    <div class="col-md-6" >
        <div class="card">
            <img src="/static/recipe/images/about.jpeg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Заголовок о нас</h5>
                <p class="card-text">Описание о нас</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}