{% extends 'recipe/base.html' %}

{% block content %}
<div class="container-fluid">
<div class="row margin-top-100">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post" class="was-validated">
            {% csrf_token %}
            <div class="form-error">{{ form.non_fields_errors }}</div>
            {% for f in form %}
            <p>
            <label class="form-label">{{ f.label }}</label>
            {{f}}
            <div class="form-text">{{ f.help_text }}</div>
            <div class="error-as-text">{{ f.errors.as_text }}</div>
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Добавить категорию</button>
        </form>
    </div>
</div>
</div>
{% endblock %}