{% extends 'recipe/base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row margin-top-100">
      <div class="col-md-3"></div>
      <div class="col-md-5">
<div class="text-center">
  <h1>Форма смены пароля</h1>
  {% if validlink %}
  <h6 style="width: 60%; margin: 0 auto">
    Пожалуйста введите новый пароль
  </h6>
</div>
<br />
<form action="" method="POST" style="width: 80%;">
  {% csrf_token %} 
  <div class="form-error">{{ form.non_fields_errors }}</div>
    {% for f in form %}
    <p>
    <label class="form-label">{{ f.label }}</label>
    {{f}}
    <div class="form-text">{{ f.help_text }}</div>
    <div class="error-as-text">{{ f.errors.as_text }}</div>
    </p>
    
    {% endfor %}
  <input type="submit" class="btn btn-success" value="Сменить пароль"/>
</form>
{% else %}
<h6 style="width: 60%; margin: 0 auto">
  Данная ссылка устарела. Перейдите к форме сброса пароля, чтобы отправить запрос повторно.
</h6>
<br />
<a href="{% url 'reset_password' %}" class="btn btn-primary">Форма сброса пароля</a>
{% endif %}

</div></div></div>

{% endblock%}
