{% extends 'recipe/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row margin-top-100">
        <div class="col-md-3"></div>
        <div class="col-md-5">
<div class="text-center">
  <h1>Сброс Пароля</h1>
  <h3>
    Забыли пароль? Пожалуйста введите Email, который вы указывали при регистрации и мы отправим вам на почту ссылку для смены пароля
  </h3>
</div>
<br/>

<form action="" method="POST" style="width: 50%;">
  {% csrf_token %}
  <div class="form-error">{{ form.non_fields_errors }}</div>
    {% for f in form %}
    <p>
    <label class="form-label">{{ f.label }}</label>
    {{f}}
    <div class="form-text">{{ f.help_text }}</div>
    <div class="error-as-text">{{ f.errors.as_text }}</div>
    </p>
    
    {% endfor %}
  <input type="submit" class="btn btn-success" value="Отправить" /><br>
</form><br/>    
<div class="">
  <a href="{% url 'home' %}" class="btn btn-primary">Вернуться на главную страницу</a>
</div>
</div></div></div>
{% endblock%}